<div style="font-family: Arial, sans-serif; padding: 20px; border: 1px solid #ccc; border-radius: 8px;">
    <span id="HTMLAnchor1" style="font-size: 12pt;"><p>These staff are teaching on this module. Their roles and contact information are as shown.
    This will probably not be an exhaustive list of all the people who teach you and arrangements can sometimes change.</p> 
    <p>If you wish to arrange a meeting or have a question that can be answered briefly, please write an e-mail to 
    the appropriate member of staff. If you need help with taught material, please ask for a meeting- our preferred mode of 
    contact is in-person but video call (usually, MS Teams) may also be possible. Please note that staff will usually not 
    reply to e-mails outside of regular working hours (9-5 on weekdays).</p><span id="HTMLAnchor2" style="font-size: 12pt;"></br></br>
    
        {{ content|safe }}

 
   </p><span id="HTMLAnchor3" style="font-size: 12pt;">
	<p>&nbsp;</p> 
         {{ footer|safe }}
</div>