<div style="font-family: Arial, sans-serif; padding: 20px; border: 1px solid #ccc; border-radius: 8px;">
    <span id="HTMLAnchor1" style="font-size: 12pt;">
        <h3 style="color: #1f2937; padding-bottom: 10px;">
            {{ module_code }} General Information:
        </h3>
        <p>
            The assessment information shown below is extracted from this module's outline form as published 
            in Newcastle University's <a class='inline_disabled' href='https://www.ncl.ac.uk/module-catalogue/' target='_blank' rel='noopener'>module catalogue</a>. 
            Information which is specific to your degree programme (the weighting of Stage 2 relative to Stage 3, for example) is available in the 
            <a class='inline_disabled' href='https://www.ncl.ac.uk/regulations/programmeregsandspec/programmeregs2025/' target='_blank' rel='noopener'>programme regulations</a> 
            for your degree. The rules governing university assessment, progression and classification are described by the 
            <a class='inline_disabled' href='https://www.ncl.ac.uk/regulations/2025/' target='_blank' rel='noopener'>Taught Programme Regulations</a>.
        </p>
    </span>
    <span id="HTMLAnchor2" style="font-size: 12pt;">
        {{ final_html_body|safe }}
    </span>
    <span id="HTMLAnchor3" style="font-size: 12pt;">
        {{ footer|safe }}
    </span>
</div>